@import "../../../styles.scss";

.footer-container {
  background-color: var(--primary-dark);
  padding: 40px 0 10px 0;
  height: 50px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }
}
