<div class="footer">
  <div class="footer__image-container">
    <img class="footer__image" [src]="logoPath" alt="monogram" />
  </div>
  <div class="footer__title">
    1º Workshop de inteligência artificial do ICT-UNIFESP
  </div>
  <p class="footer__text">
    Avenida Cesare Mansueto Giulio Lattes, n° 1201 - Eugênio de Mello, CEP:
    12247-014
  </p>
  <a
    class="footer__text"
    href="https://www.linkedin.com/in/leonardo-loureiro-costa/"
    >Desenvolvido por: Leonardo Loureiro Costa ©</a
  >
</div>
