@import "../../../styles.scss";

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-dark);
  padding: 40px 40px;
  min-height: 50px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
  }

  &__image {
    display: block;
    height: 80px;
    margin-bottom: 10px;
  }
}
