<div class="contact">
  <section class="contact__section">
    <div class="contact__about-me">
      <!-- <div class="contact__body">
        <h5 class="contact__title">Contato</h5>
        <div class="contact__contact-info">
          <div class="contact__text">Para mais informações,&nbsp;</div>
          <div class="contact__text">
            <a href="mailto:ffaria@unifesp.br">entre em contato</a>
          </div>
          <div class="contact__text">&nbsp;com a gente!</div>
        </div>

        <p class="contact__text">aaa</p>
      </div> -->
    </div>
  </section>
</div>
