<div class="contact">
  <section class="contact__section">
    <div class="contact__logo-container">
      <img [src]="logo" alt="" class="contact__logo" />
      <h1 class="contact__logo-subtitle">
        1º Workshop de Inteligência Artificial do Instituto de Ciência e
        Tecnologia (ICT) da UNIFESP
      </h1>
    </div>
    <div class="contact__about-me">
      <div class="contact__body">
        <h1 class="contact__title">Para mais informações:</h1>
        <div class="contact__contact-info">
          <div class="contact__text">
            <a href="mailto:ffaria@unifesp.br" class="contact__text"
              >Entre em contato com a gente!</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
