<div class="home">
  <section class="home__section">
    <div class="home__logo-container">
      <img [src]="logo" alt="" class="home__logo" />
      <h1 class="home__logo-subtitle">
        1º Workshop de Inteligência Artificial do Instituto de Ciência e
        Tecnologia (ICT) da UNIFESP
      </h1>

    </div>
    <div class="home__sponsors">
      <img [src]="unifespLogo" alt="" class="home__sponsor-image" />
    </div>
  </section>
  <!-- <section class="home__time-until">
    <div class="home__body">
      <div class="home__title">Faltam apenas</div>
      <app-countdown-timer [targetDate]="targetDate"></app-countdown-timer>
      <div class="home__text">para o 1º Workshop de IA do ICT-UNIFESP!</div>
      <button class="home__subscribe-button" (click)="subscribe()">
        Se inscreva!
      </button>
    </div>
  </section> -->
  <section class="home__about">
    <h1 class="home__day">Sobre o evento</h1>
    <h3>O que é o WIA-ICT?</h3>
    <p>
      O WIA-ICT da UNIFESP é um evento de extensão que tem como objetivo
      divulgar os projetos finais dos alunos de Inteligência Artificial da
      instituição.
    </p>
    <p>
      Durante o evento, os estudantes apresentam e compartilham suas pesquisas e
      descobertas relacionadas à aplicação da inteligência artificial em
      diversas áreas.
    </p>
    <h1 class="home__day">Dia 04/07/2023</h1>
    <ul>
      <li>
        <h2>Título Projeto: IA Aplicada ao Mercado Financeiro</h2>
        <p>Autor: Gustavo dos Santos Ferreira</p>
        <p>Horário: 13:45h</p>
      </li>
      <li>
        <h2>Título Projeto: Machine Learning para a predição de Alzheimer</h2>
        <p>Autor: Rafael Braga Ennes</p>
        <p>Horário: 14:00h</p>
      </li>
      <li>
        <h2>Título Projeto: Aplicação de Machine Learning para Predição de Partidas Baseada em Dados do Campeonato
          Brasileiro de Futebol</h2>
        <p>Autores: Enzo Reis de Oliveira, Renan Augusto de Souza Leite</p>
        <p>Horário: 14:15h</p>
      </li>
      <li>
        <h2>Título Projeto: Aplicação do Noisy Student (semi-supervisionado) para classificação de imagens de satélite
          da
          Floresta Amazônica</h2>
        <p>Autores: Vitor Gonçalves Reis da Silva, Marcos Vinicius Gasparoto Bauab</p>
        <p>Horário: 14:30h</p>
      </li>
      <li>
        <h2>
          PALESTRA EMPRESA QUERO - Desafios de Pesquisas Enfrentados pela
          Empresa QUERO
        </h2>
        <p>Horário: 18:45h -- 19:45h</p>
      </li>
      <li>
        <h2>
          Illuminating Artistic Intuition: Exploring Zero-Shot Painting
          Classification and XAI through LIME and Diffusion Models
        </h2>
        <p>Autores: Leonardo Loureiro Costa</p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>
          Recomendação Musical Em Tempo Real: Algoritmo Contextualizado Para
          Personalização De Listas De Reprodução
        </h2>
        <p>Autores: Lécio Oliveira Gonçalves de Assis</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>
          Perfil Invest, utilização de técnicas de agrupamento para definição de
          ações para estudo de acordo com perfil de investidor.
        </h2>
        <p>Autores: Guilherme Salgado Alves, Leonardo Cândido Teixeira</p>
        <p>Horário: 20:15h</p>
      </li>
    </ul>
    <h1 class="home__day">Dia 11/07/2023</h1>
    <ul>

      <li>
        <h2>Título Projeto: Inspeção Visual Automatizada de Equipamentos na Indústria para Detecção de Anomalias</h2>
        <p>Autores: André Eiki Hiratsuka, Thiago Roberto Fernandes Rocha</p>
        <p>Horário: 13:45h</p>
      </li>
      <li>
        <h2>Título Projeto: Composições de Imagens de Sensoriamento Remoto baseadas em Computação Evolutiva para
          Detecção de Desmatamento</h2>
        <p>Autores: Paulo Roberto Costa Pedro, Eduardo Bouhid Neto</p>
        <p>Horário: 14:00h</p>
      </li>
      <li>
        <h2>Título Projeto: Identificação de Veículos em Estacionamentos: Uma Abordagem Comparativa Entre Modelos YOLO
        </h2>
        <p>Autores: Matheus de Sousa Meire da Silva, Marcos Lucas da Silva</p>
        <p>Horário: 14:15h</p>
      </li>
      <li>
        <h2>Título Projeto: Detecção de falhas em equipamentos por meio de inspeção visual</h2>
        <p>Autores: Murilo Capozzi dos Santos</p>
        <p>Horário: 14:30h</p>
      </li>
      <li>
        <h2>Título Projeto: Reconhecimento de objetos em imagens com uma abordagem de Aprendizado Profundo</h2>
        <p>Autores: Jamil Anderson Mansur, Willy Thiago Gutsche</p>
        <p>Horário: 14:45h</p>
      </li>
      <li>
        <h2>Título Projeto: O Algoritmo de Naive Bayes, a Classificação e a comparação com outros algoritmos
          probabilísticos</h2>
        <p>Autores: Felipe Fernandes Mendonça, Henrique Dedini</p>
        <p>Horário: 15:00h</p>
      </li>
      <li>
        <h2>Título Projeto: O aprendizado de máquina aplicado na compreensão da resposta de pacientes com artrite
          reumatoide tratados com anti-TNF</h2>
        <p>Autores: Guilherme de Oliveira Sousa, Gabriel Hiro Guedes Kobayakawa Fornel</p>
        <p>Horário: 15:15h</p>
      </li>
      <li>
        <h2>Algoritmos para Detecção de Deepfakes</h2>
        <p>
          Autores: Raphael Damasceno Rocha de Moraes, Marco Antônio Coral dos
          Santos
        </p>
        <p>Horário: 19:15h</p>
      </li>
      <li>
        <h2>Uso de imagens de pulmão para identificação de Covid-19</h2>
        <p>Autores: Brenda Uemura, Conrado Gobato</p>
        <p>Horário: 19:30h</p>
      </li>
      <li>
        <h2>Estacionamento inteligente na Unifesp</h2>
        <p>Autores: Davi Seiji Kawai Santos, Pedro Henrique Masteguin</p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>Estimativa de distância e altura de pessoas em cenas</h2>
        <p>Autores: Juan Marcos Martins, Savio Augusto Machado Araujo</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>Sign language to audio: first steps of a disruptive tool</h2>
        <p>Autores: Isabela Cristina Silva Pedro, Nicolas Alves Suzuki</p>
        <p>Horário: 20:15h</p>
      </li>
      <li>
        <h2>Geração de descrição de obras de Arte</h2>
        <p>Autores: Pedro Henrique Barauna</p>
        <p>Horário: 20:30h</p>
      </li>
      <li>
        <h2>
          Predeterminação do comportamento das curvas de fluência em palhetas de
          turbinas
        </h2>
        <p>Autores: Tiago Kenzo Izumi, Pedro Figueiredo Dias</p>
        <p>Horário: 20:45h</p>
      </li>
    </ul>


    <h1 class="home__day">Dia 13/07/2023</h1>
    <ul>
      <li>
        <h2>Título Projeto: Gerador de Grades Horárias utilizando Regras de Associação</h2>
        <p>Autor(es): Matheus Rodrigues Borges Antonio</p>
        <p>Horário: 13:45h</p>
      </li>
      <li>
        <h2>Título Projeto: Mineração de texto voltada para artigos científicos</h2>
        <p>Autor(es): Rafaela Cristine dos Santos Uchôas</p>
        <p>Horário: 14:00h</p>
      </li>
      <li>
        <h2>Título Projeto: Estudo da mortalidade infantil e sua relação com o saneamento básico no Brasil</h2>
        <p>Autor(es): Leonardo Silva Pinto, Maria Paula Henriques Prandt</p>
        <p>Horário: 14:15h</p>
      </li>
      <li>
        <h2>Título Projeto: ContaAI: produção de textos literários assistida por IA</h2>
        <p>Autor(es): Guilherme Matheus Araujo Libardi, Francine Franco</p>
        <p>Horário: 14:30h</p>
      </li>
      <li>
        <h2>Título Projeto: Utilizando Aprendizado por Reforço para criar contraexemplos de conjecturas da Teoria dos
          Grafos</h2>
        <p>Autor(es): Lucas Freire de Siqueira</p>
        <p>Horário: 14:45h</p>
      </li>
      <li>
        <h2>
          Reconhecimento Facial em Risco: vulnerabilidades e defesas contra
          ataques adversariais
        </h2>
        <p>
          Autores: Gabriela Cristina Moreira dos Santos, Lucas Guilherme Silva
          de Carvalho
        </p>
        <p>Horário: 19:15h</p>
      </li>
      <li>
        <h2>
          Desenvolvimento de Behaviour Tree em Unity para criação de
          Inteligência Artificial para NPC em jogos.
        </h2>
        <p>Autores: Rodrigo Augusto Alves Dias, Ulisses Auresco Damasio</p>
        <p>Horário: 19:30h</p>
      </li>
      <li>
        <h2>Estacionamento Inteligente</h2>
        <p>
          Autores: Daniel Ferreira Martins, Benjamim Rees Pereira do Nascimento
        </p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>
          Agentes de Aprendizado por Reforço para Space Invaders com Redes
          Neurais Profundas
        </h2>
        <p>Autores: Luca de Paula Nascimento Lima</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>
          SmileDataAI: segmentação semântica de dentes em imagens de raio-x por
          meio de aprendizado profundo.
        </h2>
        <p>Autores: Vinícius Massaru Oliveira Tanaka</p>
        <p>Horário: 20:15h</p>
      </li>
      <li>
        <h2>
          Redes Neurais e Deep Learning no escopo econômico de colecionáveis
          digitais
        </h2>
        <p>Autores: Mateus da Silva Romani, Vinícius da Silva Dias</p>
        <p>Horário: 20:30h</p>
      </li>
      <li>
        <h2>
          Mineração de dados educacionais para identificar a influência de
          fatores socioeconômicos no desempenho dos estudantes no ENEM
        </h2>
        <p>Autores: Kazuhiro Kojio</p>
        <p>Horário: 20:45h</p>
      </li>
    </ul>
  </section>
</div>