<div class="home">
  <section class="home__section">
    <div class="home__logo-container">
      <img [src]="logo" alt="" class="home__logo" />
      <h1 class="home__logo-subtitle">
        1º Workshop de Inteligência Artificial do Instituto de Ciência e
        Tecnologia (ICT) da UNIFESP
      </h1>
      <button class="home__subscribe-button--white" (click)="subscribe()">
        Se inscreva!
      </button>
    </div>
    <div class="home__sponsors">
      <img [src]="unifespLogo" alt="" class="home__sponsor-image" />
    </div>
  </section>
  <section class="home__time-until">
    <div class="home__body">
      <div class="home__title">Faltam apenas</div>
      <app-countdown-timer [targetDate]="targetDate"></app-countdown-timer>
      <div class="home__text">para o 1º Workshop de IA do ICT-UNIFESP!</div>
      <button class="home__subscribe-button" (click)="subscribe()">
        Se inscreva!
      </button>
    </div>
  </section>
  <section class="home__about">
    <h1 class="home__day">Sobre o evento</h1>
    <h3>O que é o WIA-ICT?</h3>
    <p>
      O WIA-ICT da UNIFESP é um evento de extensão que tem como objetivo
      divulgar os projetos finais dos alunos de Inteligência Artificial da
      instituição.
    </p>
    <p>
      Durante o evento, os estudantes apresentam e compartilham suas pesquisas e
      descobertas relacionadas à aplicação da inteligência artificial em
      diversas áreas.
    </p>
    <h1 class="home__day">Dia 04/07/2023</h1>
    <ul>
      <li>
        <h2>
          PALESTRA EMPRESA QUERO - Desafios de Pesquisas Enfrentados pela
          Empresa QUERO
        </h2>
        <p>Horário: 18:45h -- 19:45h</p>
      </li>
      <li>
        <h2>
          Illuminating Artistic Intuition: Exploring Zero-Shot Painting
          Classification and XAI through LIME and Diffusion Models
        </h2>
        <p>Autores: Leonardo Loureiro Costa</p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>
          Recomendação Musical Em Tempo Real: Algoritmo Contextualizado Para
          Personalização De Listas De Reprodução
        </h2>
        <p>Autores: Lécio Oliveira Gonçalves de Assis</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>
          Perfil Invest, utilização de técnicas de agrupamento para definição de
          ações para estudo de acordo com perfil de investidor.
        </h2>
        <p>Autores: Guilherme Salgado Alves, Leonardo Cândido Teixeira</p>
        <p>Horário: 20:15h</p>
      </li>
    </ul>
    <h1 class="home__day">Dia 11/07/2023</h1>
    <ul>
      <li>
        <h2>Algoritmos para Detecção de Deepfakes</h2>
        <p>
          Autores: Raphael Damasceno Rocha de Moraes, Marco Antônio Coral dos
          Santos
        </p>
        <p>Horário: 19:15h</p>
      </li>
      <li>
        <h2>Uso de imagens de pulmão para identificação de Covid-19</h2>
        <p>Autores: Brenda Uemura, Conrado Gobato</p>
        <p>Horário: 19:30h</p>
      </li>
      <li>
        <h2>Estacionamento inteligente na Unifesp</h2>
        <p>Autores: Davi Seiji Kawai Santos, Pedro Henrique Masteguin</p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>Estimativa de distância e altura de pessoas em cenas</h2>
        <p>Autores: Juan Marcos Martins, Savio Augusto Machado Araujo</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>Sign language to audio: first steps of a disruptive tool</h2>
        <p>Autores: Isabela Cristina Silva Pedro, Nicolas Alves Suzuki</p>
        <p>Horário: 20:15h</p>
      </li>
      <li>
        <h2>Geração de descrição de obras de Arte</h2>
        <p>Autores: Pedro Henrique Barauna</p>
        <p>Horário: 20:30h</p>
      </li>
      <li>
        <h2>
          Predeterminação do comportamento das curvas de fluência em palhetas de
          turbinas
        </h2>
        <p>Autores: Tiago Kenzo Izumi, Pedro Figueiredo Dias</p>
        <p>Horário: 20:45h</p>
      </li>
    </ul>
    <h1 class="home__day">Dia 13/07/2023</h1>
    <ul>
      <li>
        <h2>
          Reconhecimento Facial em Risco: vulnerabilidades e defesas contra
          ataques adversariais
        </h2>
        <p>
          Autores: Gabriela Cristina Moreira dos Santos, Lucas Guilherme Silva
          de Carvalho
        </p>
        <p>Horário: 19:15h</p>
      </li>
      <li>
        <h2>
          Desenvolvimento de Behaviour Tree em Unity para criação de
          Inteligência Artificial para NPC em jogos.
        </h2>
        <p>Autores: Rodrigo Augusto Alves Dias, Ulisses Auresco Damasio</p>
        <p>Horário: 19:30h</p>
      </li>
      <li>
        <h2>Estacionamento Inteligente</h2>
        <p>
          Autores: Daniel Ferreira Martins, Benjamim Rees Pereira do Nascimento
        </p>
        <p>Horário: 19:45h</p>
      </li>
      <li>
        <h2>
          Agentes de Aprendizado por Reforço para Space Invaders com Redes
          Neurais Profundas
        </h2>
        <p>Autores: Luca de Paula Nascimento Lima</p>
        <p>Horário: 20:00h</p>
      </li>
      <li>
        <h2>
          SmileDataAI: segmentação semântica de dentes em imagens de raio-x por
          meio de aprendizado profundo.
        </h2>
        <p>Autores: Vinícius Massaru Oliveira Tanaka</p>
        <p>Horário: 20:15h</p>
      </li>
      <li>
        <h2>
          Redes Neurais e Deep Learning no escopo econômico de colecionáveis
          digitais
        </h2>
        <p>Autores: Mateus da Silva Romani, Vinícius da Silva Dias</p>
        <p>Horário: 20:30h</p>
      </li>
      <li>
        <h2>
          Mineração de dados educacionais para identificar a influência de
          fatores socioeconômicos no desempenho dos estudantes no ENEM
        </h2>
        <p>Autores: Kazuhiro Kojio</p>
        <p>Horário: 20:45h</p>
      </li>
    </ul>
  </section>
</div>
