.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__number {
    font-size: 24px;
    margin: 0 2px;
    transition: 0.5s;
    @media (min-width: 768px) {
      transition: 0.5s;
      font-size: 48px;
      margin: 0 5px;
    }
  }
  &__label {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px 2px 2px 0px;
    transition: 0.5s;
    @media (min-width: 768px) {
      transition: 0.5s;
      font-size: 24px;
      margin: 0px 10px 10px 0px;
    }
  }
}
