<div class="project-card" (click)="openModal()">
  <div class="project-card__content">
    <div class="project-card__image-container" *ngIf="cardData.hasImage">
      <img [src]="cardData.imageUrl" alt="" class="project-card__image" />
    </div>
    <div class="project-card__title">{{ cardData.title }}</div>
    <div class="project-card__summary">{{ cardData.summary }}</div>
  </div>
  <div class="project-card__tags">
    <div *ngFor="let tag of cardData?.keyWords">
      <button class="project-card__tag">
        {{ tag }}
      </button>
    </div>
  </div>
</div>

<div class="project-card__modal-container">
  <div class="project-card__modal"></div>
</div>
