:root {
  --primary: #245832;
  --primary-50: #24583280;
  --primary-dark: #163d23;
  --primary-dark-50: #163d2380;
  --primary-light: #5db17d;
  --primary-lightest: #5db17d;
}

@font-face {
  font-family: "GothamMedium_1";
  src: url("./assets/fonts/GothamMedium_1.ttf") format("truetype");
}

* {
  font-family: "GothamMedium_1", sans-serif;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}
