:root {
  --primary: #58008f;
  --primary-50: #58008f80;
  --primary-dark: #39005c;
  --primary-dark-50: #39005c80;
  --primary-light: #cf89fa;
  --primary-lightest: #cf89fa;
}

@font-face {
  font-family: "GothamMedium_1";
  src: url("./assets/fonts/GothamMedium_1.ttf") format("truetype");
}

* {
  font-family: "GothamMedium_1", sans-serif;
}
